/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*:focus {
  outline: 0;
}

body {
    font-family: 'Montserrat';
    padding-top: 40px;
    margin: 0;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
  }

  /* .cont {
    justify-content: center;
    text-align: center;
  } */

.modal {
  display: block;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: rgb(16, 153, 173);
  margin: 15% auto;
  padding: 20px 20px 50px 20px;
  width: 60%;
  text-transform: uppercase;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  padding-left: 0;
  order: -1;
  align-self: flex-start;
}

.close:hover,
.close:focus,
.send:hover,
.send:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content form button {
  text-transform: uppercase;
  font-size: 15px;
  color: rgb(16, 153, 173);
  background-color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-left: 30px;
}

.modal-content form input {
  border: none;
  border-radius: 5px;
}

.modal-content form {
  padding-top: 20px;
}


header {
  background-color: white;
  height: 70px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  text-align: center;
  z-index: 50;
}

header li {
  list-style: none;
  display: inline-block;
  padding: auto;
}

header a {
  color: #222;
  text-decoration: none;
  padding: 0 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

header img {
  margin: 10px;
  object-fit: scale-down;
}

header button {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: white;
  background-color: rgb(28, 188, 202);
  border: none;
  border-radius: 10px;
  padding: 10px, auto;
  margin: 15px;
}

section img {
  margin-bottom: 60px;
}


.nav-up {
  top: -70px;
}


.panel {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgb(16, 153, 173), rgb(5, 135, 163), rgb(28, 188, 202));
}

.buttons button{
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 50px;
  border: none;
  border-radius: 10px;
}

.btn-full {
  background-color: rgb(25, 208, 218);
  color: white;
  margin: 40px auto;
}

.btn-invert {
  color: rgb(25, 208, 218);
  background-color: transparent;
  background-repeat: no-repeat;
}

.btn-invert:hover {
  color: white;
}

.phones {
  position: relative;
  top: 100px;
  left: 0;
}

.mainPhone {
  position: relative;
  top: -75px;
  left: -20px;
  z-index: 10;
}

.innerPhone1 {
  position: absolute;  
  top: 0px;
  left: 406px; 
} 

.innerPhone2 {
  display: none;
}


.panel h1 {
  color: white;
  text-align: center;
  font-weight: 400;
  width: 50%;
  margin: 0 auto;
  padding-top: 100px;
}

.panel h3 {
  color: white;
  font-weight: 300;
  margin: 30px auto;
}

.carousel {
  display: flex;
  padding: 5rem;
  height: 200px;
  background-color: #ccc;
}


.carousel .items {
  justify-content: center;
  text-align: center;
  padding: 20px auto;
}


.title {
  text-transform: uppercase;
  font-size: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  margin: auto;

}

footer a {
  text-decoration: none;
  color: #000;
}

footer ion-icon, .szines {
  color: rgb(28, 188, 202);
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 1.5rem;
}

.partner {
  display: flex;
  flex-direction: column;
}

.legacy {
  margin: 70px;
}

.legacy h3 {
  font-weight: 300;
  font-size: 2.5rem;
}

.legacy p {
  color: grey;
  padding: 0 50px;
  width: 65%;
  margin: 0 auto;
}

.media {
  padding-top: 3rem;
}

.mediaIcons {
  display: flex;
  margin-top: 1rem;
  font-size:1.5rem;
}

.mediaIcons ion-icon {
  padding: 0.4rem;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

